body{
    margin:0;
    padding:0;
}
.header{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}
.search{
    width:300px;
    height:40px;
}
.restaurant-card{
    width: 300px;
    height:300px;
    border: solid 1px gainsboro;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:5px;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}